# Created by https://www.toptal.com/developers/gitignore/api/swift,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,xcode

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

...

...

### Xcode Patch ###
*.xcodeproj/*
!.xcodeproj/project.pbxproj
!.xcodeproj/xcshareddata/
!.xcodeproj/project.xcworkspace/
!.xcworkspace/contents.xcworkspace
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
**/.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/swift,xcode
